@font-face {
  font-family: "Cabin";
  src: url('CabinCondensed-SemiBold.ttf');
}

@font-face {
  font-family: "deftone";
  src: url('deftone stylus.ttf');
}

@font-face {
  font-family: "HIV";
  src: url('HIVNotRetro-regular.otf');
}

@font-face {
  font-family:'Lemon';
  src: url('Lemon Tuesday.otf');
}

@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue Regular.otf');
}

@font-face {
  font-family: 'SNR';
  src: url('SNR.ttf');
}


#form {
  width:50%;
  margin-left:25%;
}

.feature-text {
  font-size:20px;
}

.text {
  width:100%;
  font-size:1.5em;
  padding:10px;
  padding-bottom:15px;
  padding-top:15px;
  border:1px solid rgba(0, 0, 0, 0.42);
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
  outline:none;
}

#left input {
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
  border:0px;
}

#video-bg {
  width:100%;
  height:100%;
  background:rgba(0,0,0, 0.8);
  position:fixed;
  -webkit-transition: all 0.3s; /* Safari */
  transition: all 0.3s;
  padding-right:25%;
  clear:both;
  opacity:0;
  visibility: hidden;
}

#video-bg > div {
  width:50%;
  position:absolute;
  left:15%;
  top:10%;
}

#video-bg a {
  position:absolute;
  margin:0px;
  padding:0px;
  right:33.5%;
  font-size:35px;
  top:50px;
  color:white;
}

#vid-wrapper {
  position:relative;
  padding-bottom:56.25%;
  padding-top:25px;
  height:0;

}
#video {
  width:50%;
  top:0;
  left:0;
  position:absolute;
  height:auto;
  width:100%;
  height:100%
}


#left input[type=text]:focus  {
  -webkit-box-shadow: 0px 0px 73px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 73px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 73px -11px rgba(0,0,0,0.75);
  outline: none;
  border:0px;
}

.text[type=text]:focus {
  -webkit-box-shadow: 0px 0px 73px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 73px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 73px -11px rgba(0,0,0,0.75);
}
#background {
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:url('background-writing.jpeg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration:none;
  color:inherit;
}

#center-display div {
  display:inline-block;

}

#header-cover{
  font-family:"Lemon";
  font-size:3em;
}

#left {
  display:inline-block;
  float:left;
  width:calc(50% - 40px);
  text-align:left;
  padding-left:20px;
  padding-right:20px;
}

#see-more {
  background:rgb(39, 147, 230);
}


#see-more:hover {
  background:rgb(41, 133, 204);
}

#left form {
}

#check-box {
  font-size:25px;
  font-family: 'SNR';
}

#check-box span {
  color:rgb(53, 226, 38);
  font-weight:bold;
}

#newsletter-box {
  width:20px;
  margin-top:20px;
  margin-bottom:20px;
  font-size:25px;
  height:20px;
  color:red;
}



.cover-btn {
  text-align:center;
  color:black;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  background:rgb(53, 226, 38);
  border:0px;
  font-family:"BebasNeue";
  font-size:35px;
  margin-bottom:10px;
  cursor:pointer;
  -webkit-transition: all 0.3s; /* Safari */
  transition: all 0.3s;
}

.cover-btn:hover {
  background:rgb(40, 184, 28);
  -webkit-box-shadow: 0px 0px 46px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 46px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 46px -1px rgba(0,0,0,0.75);
}

#left p {
  font-family: 'BebasNeue';
  font-size:40px;
  margin-left:20px;
  text-align:center;
  margin-top:0px;
}



#email-box {
  width:100%;
  font-size:25px;
  padding:10px;
}

#right {
  display:inline-block;
  float:right;
  width:50%;

}
#right img {
  width:70%;
}

#center-display p:nth-child(2){
  font-family: 'HIV';
  font-size:3.5em;
  margin-top:0px;
}



#center-display {
  padding-bottom:20px;
  position:absolute;
  border-radius:5px;
  color:white;
  width:80%;
  left:10%;
  text-align:center;
  margin: 0 auto;
  top:calc(50% - 400px);
  background:rgba(0, 0, 0, 0.63);
}
#signup-btn {
  display:inline-block;

}
#video-btn {
  display:inline-block;
}

#form button {
  font-family:BebasNeue;
  width:100%;
  font-size:1.5em;
  border:0px;
  padding-top:15px;
  padding-bottom:15px;
  background:rgb(44, 185, 41);
  font-weight:bold;
  font-family:"SNR";
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#form button:hover {
  background-color:rgb(83, 186, 81);
  cursor: pointer;
}
#form button:after {
  opacity:0;
  content:"";
  display:inline-block;
  background-image: url("arrow-right.png");
  position:absolute;
  width:1.5em;
  height:1.5em;
  background-size:cover;
  z-index:10;
  background-repeat: no-repeat;
  margin-left:15%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#newsletter {
  width:20px;
  margin-top:20px;
  margin-bottom:20px;
  font-size:25px;
  height:20px;
  color:red;
}

#news-text {
  font-size:25px;
  font-family:'SNR';



}



#video-front {
  width:100%;
  height:50%;
}


#news-text span {
  color:darkgreen;
  font-weight:bold;
}

#form button:hover:after {
  margin-left:calc(0% + 10px);
  opacity:1;
}


.button {
  padding:15px;
  font-size:25px;
  padding-left:25px;
  padding-right:25px;
  font-family:Cabin;
  background:rgba(0, 0, 0, 0.67);
  font-family: "SNR";
  border:2px solid white;
  border-radius:4px;
  color:white;
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
}

.button:hover {
  color:black;
  background:white;

}
body {
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
}
#page {
  margin:0px;
  padding:0px;
  position:absolute;
  top:100%;
  width:90%;
  padding-top:100px;
  padding-bottom:200px;
  left:5%;
  background:url("grey-paper-texture.jpg");
  padding-left:5%;
  padding-right:5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 53px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 53px 8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 53px 8px rgba(0,0,0,0.75);
  border-radius:3px;
}

.header {
  font-size:3em;
  text-align:center;
  text-transform: uppercase;
  font-family: 'BebasNeue';
}
.header span {
  font-family:'deftone';
  text-transform: none;
}
.header span::after {
  content: ' ';
}

.feature {
  margin-bottom:100px;
}
.feature img {
  margin:0px;
  display:inline-block;
  vertical-align: top;
  width:35%;
}

.header1 {
  font-size:2.5em;
  margin-bottom:30px;
  font-family: 'BebasNeue';
  font-weight:bold;
  padding-bottom:20px;

}
.feature div {
  display:inline-block;
  width:50%;
  box-sizing: content-box;
  clear:both;
}
.feature div p {
  margin:0px;
  margin-left:20px;
  display:inline-block;

}




#navbar {
  width:100%;
  height:40px;
  position:fixed;
  background:rgba(41, 41, 41, 0.8);
  top:0px;
  left:0px;
  -webkit-transition: all 0.25s; /* Safari */
  transition: all 0.25s;
  font-family:'Cabin';
  z-index:3;
}

#logo {
  font-family:"deftone";
  position:absolute;
  font-size:30px;
  -webkit-transition: all 0.25s; /* Safari */
  transition: all 0.25s;
  top:0px;
  left:20px;
  color:white;

}

#navbar:hover #logo {
  top:10px;
}

#navbar:hover {
  height:120px;
  background:rgba(41, 41, 41, 1);
}

#navbar:hover:before {
  top: 80px;
}

#navbar div {
  opacity:0;
  -webkit-transition: all 0.25s; /* Safari */
  transition: all 0.25s;

}



#buttons {
  text-align:center;
  color:white;
  font-size:25px;
  margin-top:0px;
}

#navbar #signin-btn {
  top:0px;
  -webkit-transition: all 0.25s; /* Safari */
  transition: all 0.25s;
  opacity:0;
}

#navbar:hover #signin-btn {

    top:15px;
    opacity:1;
}

#signin-btn:hover {
  background:white;
  color:black;
}

#signin-btn a {
  width:100%;
  height:100%;
}

#signin-btn {
  position:absolute;
  right:25px;
  font-size:20px;
  color:white;
  background:black;
  padding:17px;
  border:3px solid white;
  border-radius:3px;
  padding-bottom:7px;
  padding-top:7px;

}
#buttons > ul {
  list-style: none;
  margin-top:0px;
  -webkit-transition: all 0.25; /* Safari */
  transition: all 0.25s;
}


#navbar:hover #buttons ul {
  margin-top:35px;
}

#navbar li:nth-child(n+2)::before {
  content: '-';
  margin-left:-35px;
  position:absolute;
}

#buttons li {
  display:inline;
  padding:5px;
  margin-left:10px;
  margin-right: 10px;
  padding-left:15px;
  padding-right:15px;
  border-radius:5px;
  background:rgba(101, 101, 101, 0);
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
}
#buttons li:hover {
  background:rgba(101, 101, 101, 1);
}

#navbar:hover > div {
  opacity: 1;
}

#navbar:before {
  -webkit-transition: all 0.25s; /* Safari */
  transition: all 0.25s;
  top:5px;
  content: "\268C";
  font-size:25px;
  width:20px;
  position:fixed;
  left: calc(50% - 12.5px);
  color:orange;
  margin: 0 auto;
}
