.quiz {
  width:225px;
  height:150px;
  background:rgb(220, 220, 220);
  position:relative;
  border-radius:2.5px;
  border: 2px solid gray;
  -moz-box-shadow: 0 0 20px -3px #000;
  -webkit-box-shadow: 0 0 20px -3px #000;
  box-shadow: 0 0 20px -3px #000;
}

.quizheader {
  font-family: "SNR";
  font-size:1.25em;
  margin:3px;
  text-transform: uppercase;
  text-align:center;
}

.quizheader a {
  text-decoration: none;
  color:black;

}

.bottom {
  position: absolute;
  bottom:10px;
  width:100%;
}

.status {
  margin:0px;
  margin-top:50px;
  margin-left: 15px;
  float:left;
  font-weight:bolder;
  vertical-align: text-bottom;
}

.delete {
  text-decoration: none;
  color: red;
  text-align:center;
  padding-top:3px;
  font-size:1.45em;
  position:absolute;
  right:0px;
  bottom:0px;
  width:30px;
  height:30px;
  background:rgb(215, 215, 215);
  border:0px;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
  transition: all 0.2s ease-in-out;
}
.delete:hover {
  background:rgb(205, 205, 205);
  -moz-box-shadow:    inset 0 0 4px #000000;
  -webkit-box-shadow: inset 0 0 4px #000000;
  box-shadow:         inset 0 0 4px #000000;

}

.active {
  color:green;
}
